### Scraping  popular movie Single Page through API

In [1]:
import pandas as pd
import requests

In [2]:
import time

In [4]:
response = requests.get("https://api.themoviedb.org/3/movie/popular?api_key=22b88585a3335e392c9ed6d3e45f1958&language=en-US&page=1")

In [5]:
df = pd.DataFrame(response.json()['results'])

In [6]:
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5P8SmMzSNYikXpxil6BYzJ16611.jpg,"[80, 9648, 53]",414906,en,The Batman,"In his second year of fighting crime, Batman u...",8480.843,/74xTEgt7R36Fpooo50r9T25onhq.jpg,2022-03-01,The Batman,False,7.8,3997
1,False,/aEGiJJP91HsKVTEPy1HhmN0wRLm.jpg,"[28, 12, 10751]",335787,en,Uncharted,"A young street-smart, Nathan Drake and his wis...",6226.308,/tlZpSxYuBRoVJBOpUrPdQe9FmFq.jpg,2022-02-10,Uncharted,False,7.2,1389
2,False,/iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg,"[28, 12, 878]",634649,en,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,4233.932,/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg,2021-12-15,Spider-Man: No Way Home,False,8.1,12165
3,False,/2n95p9isIi1LYTscTcGytlI4zYd.jpg,"[18, 53, 80]",799876,en,The Outfit,Leonard is an English tailor who used to craft...,2871.496,/lZa5EB6PVJBT5mxhgZS5ftqdAm6.jpg,2022-02-25,The Outfit,False,7.0,141
4,False,/fOy2Jurz9k6RnJnMUMRDAgBwru2.jpg,"[16, 10751, 35, 14]",508947,en,Turning Red,Thirteen-year-old Mei is experiencing the awkw...,3360.478,/qsdjk9oAKSQMWs0Vt5Pyfh6O4GZ.jpg,2022-03-10,Turning Red,False,7.5,1926

## Scraping 10000 popular movies through Loop on 500 pages

In [12]:
df = pd.DataFrame()

In [13]:
from tqdm import tqdm

In [ ]:
for i in tqdm(range(501,1000)):
    response = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=22b88585a3335e392c9ed6d3e45f1958&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])
    df = df.append(temp_df,ignore_index=True)
    time.sleep(3)

In [15]:
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5P8SmMzSNYikXpxil6BYzJ16611.jpg,"[80, 9648, 53]",414906,en,The Batman,"In his second year of fighting crime, Batman u...",8480.843,/74xTEgt7R36Fpooo50r9T25onhq.jpg,2022-03-01,The Batman,False,7.8,3997
1,False,/aEGiJJP91HsKVTEPy1HhmN0wRLm.jpg,"[28, 12, 10751]",335787,en,Uncharted,"A young street-smart, Nathan Drake and his wis...",6226.308,/tlZpSxYuBRoVJBOpUrPdQe9FmFq.jpg,2022-02-10,Uncharted,False,7.2,1389
2,False,/iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg,"[28, 12, 878]",634649,en,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,4233.932,/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg,2021-12-15,Spider-Man: No Way Home,False,8.1,12165
3,False,/2n95p9isIi1LYTscTcGytlI4zYd.jpg,"[18, 53, 80]",799876,en,The Outfit,Leonard is an English tailor who used to craft...,2871.496,/lZa5EB6PVJBT5mxhgZS5ftqdAm6.jpg,2022-02-25,The Outfit,False,7.0,141
4,False,/fOy2Jurz9k6RnJnMUMRDAgBwru2.jpg,"[16, 10751, 35, 14]",508947,en,Turning Red,Thirteen-year-old Mei is experiencing the awkw...,3360.478,/qsdjk9oAKSQMWs0Vt5Pyfh6O4GZ.jpg,2022-03-10,Turning Red,False,7.5,1926

In [17]:
df.to_csv('Scrap movies_500page.csv')

In [16]:
df.shape

(10000, 14)

In [23]:
df[df['original_language']=='hi']

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
55,False,/kQM7o3NIkruIZLoQ9E2XzZQ8Ujl.jpg,"[28, 35, 80]",783461,hi,लूप लपेटा,"When her boyfriend loses a mobster's cash, Sav...",436.645,/onGdT8sYi89drvSJyEJnft97rOq.jpg,2022-02-04,Looop Lapeta,False,6.2,42
212,False,/7w06baRS9VPm5RYz8lawTCLiR4j.jpg,"[28, 80, 53]",592508,hi,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...",161.555,/8p3mhjyLjHKtaAv8tFKfvEBtir0.jpg,2021-11-05,Sooryavanshi,False,5.8,105
447,False,/lNnnhBxQESk0WbUXNeh24Dx8XA7.jpg,"[53, 18, 80]",767377,hi,धमाका,When a cynical ex-TV news anchor gets an alarm...,95.835,/KowKEuyWziUtnCYicv6zhzTQIv.jpg,2021-11-19,Dhamaka,False,7.3,57
883,False,/gjOBTQ61WkF6Ge4lELqKvGylBBi.jpg,"[80, 18]",664332,hi,गंगूबाई काठियावाड़ी,Young Ganga is sold to a brothel in Mumbai in ...,95.267,/wHPEKlzg7CaJFCjWlMdZKpCRIDl.jpg,2022-02-24,Gangubai Kathiawadi,False,7.8,32
1325,False,/aFGPUmbgGoAt93WP3WYsAPa0Yv8.jpg,"[18, 35]",20453,hi,3 Idiots,In the tradition of “Ferris Bueller’s Day Off”...,59.941,/66A9MqXOyVFCssoloscw79z8Tew.jpg,2009-12-23,3 Idiots,False,8.0,1823
1650,False,/bcHKkBPbHvZBMCi3TtgtxrmKZSz.jpg,"[28, 18, 10749]",678835,hi,हीरोपंती 2,Babloo is a computer genius and Inaaya is a se...,59.773,/xdSuH9DBT1WPP7z1AukVAXyQLBN.jpg,2022-04-29,Heropanti 2,False,0.0,0
1992,False,/dkJzD9arPv4ivK1cLhxoTFHWDPm.jpg,"[18, 28, 53]",105379,hi,Blood Money,"In South Africa, a young man living with his w...",29.767,/oX09oi63n3xlmaej3OvtA6PBQ4A.jpg,2012-03-31,Blood Money,False,6.1,7
2086,False,/3hBYQJ2d5P3KzYHAjgB6GO44p6p.jpg,"[18, 28, 10749]",37737,hi,Kites,A wounded man searches for his sweetheart in t...,34.369,/2WeDVSJd14JFZx6N1DqUOqB0PjD.jpg,2010-05-21,Kites,False,7.1,164
2280,False,/hwBFGNabkGv2ZIyFUnCTSSmprf7.jpg,"[27, 14]",714338,hi,Bulbbul,A child bride grows up to be an enigmatic woma...,29.170,/4XYEqHqvcf6vxFhNyeKZz5xbUfV.jpg,2020-06-24,Bulbbul,False,6.8,82
2519,False,/sguS84TMqMzipsFT8sdCRw1dYmd.jpg,"[53, 18]",766116,hi,रनवे ३४,"A flying prodigy, Captain Vikrant Khanna's fli...",41.593,/edRmta5mJHrnmRmcHiH3RVDtaZE.jpg,2022-04-29,Runway 34,False,0.0,0
2917,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",25.726,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3596
3434,False,/fpgSkuEG2eV9nOHAYzqfOg1R8t2.jpg,"[18, 10749]",26022,hi,My Name Is Khan,"Rizwan Khan, a Muslim from the Borivali sectio...",28.887,/5Y36lCiNyyV71mjq6LavgiggbhT.jpg,2010-02-11,My Name Is Khan,False,8.1,1005
3752,False,None,"[80, 9648, 53]",956757,hi,मिशन सिंड्रेला,,13.583,None,NaN,Mission Cinderella,False,0.0,0
3984,False,/fIxSzGmtB18ynrIeApLiZPY34YT.jpg,"[28, 53]",444713,hi,कमांडो 2,"India's most wanted Black Money agent, Vicky C...",14.619,/9RZfZxIqyom7XVtXlHKnlNezZua.jpg,2017-03-02,Commando 2 - The Black Money Trail,False,6.0,29
4466,False,/d2plahqbICvNTAvhk2lM0HojJGG.jpg,"[18, 10749]",413543,hi,Dear Zindagi,An unconventional thinker helps a budding cine...,14.245,/oUg0N2isgZ5rrxdXnsemcKolfKZ.jpg,2016-11-23,Dear Zindagi,False,7.1,179
4757,False,/64GBB3Qp1sG9AJZediJKEjUkUwI.jpg,"[28, 12]",560964,hi,जंगली,A vet returns home to his father's elephant re...,18.113,/4Jwof1qQ6U99TZFkBCngBdfW8J2.jpg,2019-03-29,Junglee,False,6.7,83
4831,False,None,[],719115,hi,Raat baki,"On a balmy night in the city, three couples - ...",23.326,/w51L0ICRBDkpVA8xyqO2fyT0dy5.jpg,2012-04-24,The Night Is Young,False,0.0,0
4971,False,/21bk7sqIsFfeof4vppwGEw1Ahvw.jpg,"[28, 53]",466550,hi,Drive,A getaway driver is attracted to a female neig...,14.479,/1ZUNyvVGTPkeBVXXTMnhIRoXlfo.jpg,2019-11-01,Drive,False,5.6,40
5231,False,/hdyP0WWMbEr28395dSADp9mlrkm.jpg,"[18, 53]",695958,hi,द गर्ल ऑन द ट्रेन,When a voyeuristic divorcee fixates on the liv...,17.255,/6Zvov912Mm0mrjR5nEGbSujjnGE.jpg,2021-02-26,The Girl on the Train,False,5.9,60
5878,False,/5dF4FNwM2qZIuF0WCUs5zvDGU2H.jpg,[18],7508,hi,तारे ज़मीन पर,Ishaan Awasthi is an eight-year-old whose worl...,14.694,/lmz3fQV9wrrYiTU1gCdjhAc8pZ6.jpg,2007-12-21,Like Stars on Earth,False,8.0,825
6503,False,/42vFebJ0VRnwdemaUOIr7c6Tjo1.jpg,"[35, 18]",10757,hi,कभी ख़ुशी कभी ग़म,"Rahul, the adoptive son of business magnate Ya...",12.776,/lRl7wrJmkOzMTDVYFSIpUcsIjPQ.jpg,2001-12-14,Kabhi Khushi Kabhie Gham,False,7.9,420
6588,False,/awp4HRouB1jhb51kCB6WcnJbB8n.jpg,"[28, 53, 10749]",391629,hi,बाघी,"Ronny is a rebellious man, who falls in love w...",14.092,/o5VJiWgGp1O2OtjESZVd37gepYQ.jpg,2016-04-29,Baaghi,False,6.4,86
7880,False,/ohBudODLg90h2R8jQf4DvfGjY4A.jpg,"[9648, 80, 53, 10749]",695969,hi,हसीन दिलरुबा,Under investigation as a suspect in her husban...,12.827,/aq1y0tqiH1ojIAQBbxZXFbArEAy.jpg,2021-07-02,Haseen Dillruba,False,6.3,34
8712,False,/vhW6Rz04gX9NIi6W4fdRWdsjxXA.jpg,"[28, 53]",531597,hi,सत्यमेव जयते,"DCP Shivansh has been tasked to catch Vir, the...",9.932,/4cgcfxYE1UoNGISx9CrdhuKsXe3.jpg,2018-08-15,Satyameva Jayate,False,7.2,35
8962,False,None,[],919913,hi,Gair,"A new tenant in his home, the enigmatic Pankaj...",17.094,/bzF3liezEHB3u9tE5IcDpXme9ad.jpg,2022-05-01,Pariah,False,0.0,0

# Scraping crew and casting

In [2]:
ds = pd.read_csv('Scrap movies_500page.csv')

In [24]:
df = pd.DataFrame()

In [4]:
from tqdm import tqdm
import json

In [7]:
import time

In [8]:
data = []

In [21]:
for i in tqdm(ds['id'][8543:]):
    response = requests.get('https://api.themoviedb.org/3/movie/{}/credits?api_key=22b88585a3335e392c9ed6d3e45f1958&language=en-US'.format(i))
    time.sleep(0.4)
    info = data.append(response.json())
    len(data)
    #temp_df = pd.DataFrame(response.json()['results'])
    #df = df.append(temp_df,ignore_index=True)

100%|██████████| 1457/1457 [28:07<00:00,  1.16s/it]

In [22]:
len(data)

10000

In [25]:
df['staff'] = data

In [26]:
df

                                                  staff
0     {'id': 414906, 'cast': [{'adult': False, 'gend...
1     {'id': 335787, 'cast': [{'adult': False, 'gend...
2     {'id': 634649, 'cast': [{'adult': False, 'gend...
3     {'id': 799876, 'cast': [{'adult': False, 'gend...
4     {'id': 508947, 'cast': [{'adult': False, 'gend...
...                                                 ...
9995  {'id': 41876, 'cast': [{'adult': False, 'gende...
9996  {'id': 501689, 'cast': [{'adult': False, 'gend...
9997  {'id': 36834, 'cast': [{'adult': False, 'gende...
9998  {'id': 21862, 'cast': [{'adult': False, 'gende...
9999  {'id': 11384, 'cast': [{'adult': False, 'gende...

[10000 rows x 1 columns]

In [27]:
df.to_csv('staff_credits_10000.csv')